@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap');

body{
    font-family: 'Barlow', sans-serif;
    font-size: 1.2em; 
}
footer{
    font-size: 1em; 
}

/* ========================= Navbar CSS ============================ */
/*  blue 384aa2
    dark blue 26326d
    green 8b04b
    dark green 1c9043
    Orange f9ba63
    Pink d9689e
    Purpe 9b519c 
*/
.nav-text-size{
    font-size: 1.6em;
}
.bg-nav-colour {
    /* background-color: transparent; */
    background-color: #707cb6;
}





.img-logo {
    max-width: 8%;
    height: auto; }

@media (max-width:1200px){
    .img-logo {
        max-width: 15%; 
    }
}

@media (max-width:700px){
    .img-logo {
        max-width: 15%; 
    }
}

.img-container {
    position:relative;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto; }

.image-guys {
    opacity: 1;
    width: 100%;
    height: auto;
    margin: 0;
    transition: .2s ease;
    backface-visibility: hidden; }

.overlay {
    transition: .2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; }

.img-container:hover .image-guys{
    opacity: 0.3; }

.img-container:hover .overlay {
    opacity: 1; }

.text-overlay{
    background-color: #394aa0;
    color: white;
    font-size: 16px;
    padding: 16px 32px; }

@media (max-width:1200px){
    .text-overlay{
        top: 90%;
        font-size: 80%; }
}

.col-centered {
    margin: 0 auto;
    display: block; }

.spotify{
    border: 0; }

@media (max-width:700px){
    .spotify{
        width:80%; }
}

.footer-color{
    color: #ffffff; }

.purple-color {
    color: #394aa0; }

.copyright-footer {
    color: rgb(161, 153, 153);
    font-size: 80%; }


.cb-circle{
    font-size: 3em;
}

.cb-circle:hover{
    font-size: 4em;
}

.list-inline .list-inline-item {
	display: inline-block;
}