/* ========================= Navbar ============================ */
/*  blue 384aa2
    dark blue 26326d
    green 8b04b
    dark green 1c9043
    Orange f9ba63
    Pink d9689e
    Purpe 9b519c 
*/

.navStyle {
    font-size: 1.5em;
    padding: 0.5em 2em 0.5em 2em;
    font-weight: 500;

    .navText {
        padding: 0em 1em;
    }
}

/* ========================= Home Page ============================ */

.homeSection1 {
    background-color: #26326d;
    width: 100%;
    height: 100vh;
}

.hs1Style {
    padding: 20% 15% 5% 15%;
    color: rgba(255,255,255,.75);
}

.hs1Header {
    padding-bottom: 1em;
}

.homeSection2 {
    background-color: #9b519c;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4% 0em;
}

.hs2Header {
    color: rgba(255,255,255,.75);
    text-transform: uppercase;
}

.btnStyle {
    width: 80%;
    height: 6em;
    font-size: 1.2em !important;
    border-color: #1E1E1E !important;
}

.homeSection3 {
    background-color: #FFFFFF;
    width: 100%;
    height: 100vh;
}

/* ========================= Card ============================ */

.linkStyler {
    text-decoration: none;
    color: #1E1E1E;
}
.cardStyle {
    width: 22rem;
    padding-bottom: 10em;
    max-height: 34rem;
    &:hover {
        color: black;
        background-color: #d8d7d7;
        filter: drop-shadow(
            0px 6px 6px rgba(0, 0, 0, 0.25)
        );
    }
}

.cardTextEdit {
    white-space: pre-line;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnColor {
    background-color: #26326d !important;
    border: none;
    &:hover {
        background-color: #171e44 !important;
    }
}

/* ========================= Footer ============================ */

.footer-style {
    text-align: center;
    color: #1E1E1E;

    .list-group-item:hover {
        background-color: #373737;
        color: #FFFFFF;
    }
}